In [2]:
#importing the kaggle api library
!pip install kaggle
import kaggle
!kaggle datasets download -d ankitbansal06/retail-orders

Collecting kaggle
  Using cached kaggle-1.7.4.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in d:\anaconda\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in d:\anaconda\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: charset-normalizer in d:\anaconda\lib\site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in d:\anaconda\lib\site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in d:\anaconda\lib\site-packages (from kaggle) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in d:\anaconda\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in d:\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in d:\anaconda\lib\site-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in d:\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in d:\anaconda\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: urllib3>=1.15.1 in d:\anaconda\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in d:\anaconda\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.6)
Using cached kaggle-1.7.4.2-py3-none-any.whl (173 kB)
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.2
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
retail-orders.zip: Skipping, found more recently modified local copy (use --force to force download)

In [51]:
#extracting all things from zip archive
import zipfile
zip_ref = zipfile.ZipFile('retail-orders.zip')
zip_ref.extractall()
zip_ref.close()

In [3]:
#importing a dataframe, at the same time correcting the values in ship mode column
import pandas as pd
df = pd.read_csv("orders.csv", na_values = ['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [4]:
#making a better formatting for the header
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [5]:
#calculating the discount, sale price and marginality
df['discount']= df['list_price']*df['discount_percent']*.01
df['final_price']=df['list_price']-df['discount']
df['profit']=df['final_price']-df['cost_price']

In [6]:
#converting order date to datetime format
df['order_date']= pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [7]:
df.drop(columns=['cost_price','list_price','discount_percent'],inplace = True)

In [8]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,final_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,51.3,1658.7,188.7
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,27.3,882.7,132.7
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,0.6,19.4,-0.6
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,3,8.2,401.8,41.8
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,5,3.5,66.5,6.5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,3,0.0,0.0,0.0
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,20.1,649.9,39.9
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,2.4,57.6,-2.4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,0.4,9.6,-0.4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,6.3,203.7,33.7

In [11]:
import sqlalchemy as sal
engine = sal.create_engine("mssql+pyodbc://Fike-PC/Project_DB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes", echo=True)
conn = engine.connect()

2025-03-29 20:53:14,184 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-03-29 20:53:14,196 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-29 20:53:14,198 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-03-29 20:53:14,199 INFO sqlalchemy.engine.Engine [generated in 0.00108s] ()
2025-03-29 20:53:14,205 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-03-29 20:53:14,206 INFO sqlalchemy.engine.Engine [generated in 0.00071s] ()
2025-03-29 20:53:14,207 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-03-29 20:53:14,208 INFO sqlalchemy.engine.Engine [generated in 0.00056s] ()

In [15]:
df.to_sql('df_orders',con = conn, index = False, if_exists = 'append')

2025-03-29 21:14:28,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-29 21:14:28,276 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-03-29 21:14:28,277 INFO sqlalchemy.engine.Engine [cached since 1113s ago] ('BASE TABLE', 'VIEW', 'df_orders', 'dbo')
2025-03-29 21:14:28,369 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,369 INFO sqlalchemy.engine.Engine [generated in 0.05435s (insertmanyvalues) 1/77 (unordered)] (1, datetime.datetime(2023, 3, 1, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Bookcases', 'FUR-BO-10001798', 2, 5.2, 254.8, 14.800000000000011, 2, datetime.datetime(2023, 8, 15, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Chairs', 'FUR-CH-10000454', 3, 21.900000000000002, 708.1, 108.10000000000002, 3, datetime.datetime(2023, 1, 10, 0, 0), 'Second Class', 'Corporate', 'United States', 'Los Angeles', 'California', 90036, 'West', 'Office Supplies', 'Labels', 'OFF-LA-10000240', 2, 0.5, 9.5, -0.5, 4, datetime.datetime(2022, 6, 18, 0, 0) ... 1996 parameters truncated ... 230.4, 30.400000000000006, 129, datetime.datetime(2023, 9, 18, 0, 0), 'Second Class', 'Home Office', 'United States', 'Los Angeles', 'California', 90004, 'West', 'Furniture', 'Chairs', 'FUR-CH-10001146', 2, 1.6, 78.4, 8.400000000000006, 130, datetime.datetime(2022, 1, 3, 0, 0), 'Second Class', 'Home Office', 'United States', 'Los Angeles', 'California', 90004, 'West', 'Furniture', 'Furnishings', 'FUR-FU-10003773', 3, 9.6, 230.4, 10.400000000000006, 131, datetime.datetime(2022, 7, 17, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Technology', 'Phones', 'TEC-PH-10002293', 5, 1.8, 58.2, 8.200000000000003)
2025-03-29 21:14:28,515 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,531 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/77 (unordered)] (132, datetime.datetime(2022, 3, 30, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Paper', 'OFF-PA-10002377', 2, 3.2, 76.8, -3.200000000000003, 133, datetime.datetime(2022, 5, 1, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Fasteners', 'OFF-FA-10002780', 9, 1.0, 19.0, -1.0, 134, datetime.datetime(2023, 4, 29, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Roseville', 'California', 95661, 'West', 'Office Supplies', 'Paper', 'OFF-PA-10001804', 3, 0.8, 19.2, -0.8000000000000007, 135, datetime.datetime(2022, 10, 28, 0, 0) ... 1996 parameters truncated ... 19.0, -1.0, 260, datetime.datetime(2022, 10, 20, 0, 0), 'Second Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Office Supplies', 'Storage', 'OFF-ST-10002790', 3, 8.8, 211.2, 31.19999999999999, 261, datetime.datetime(2022, 6, 11, 0, 0), 'Second Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Office Supplies', 'Binders', 'OFF-BI-10003460', 5, 1.0, 19.0, -1.0, 262, datetime.datetime(2023, 8, 29, 0, 0), 'Standard Class', 'Corporate', 'United States', 'Pasadena', 'Texas', 77506, 'Central', 'Office Supplies', 'Appliances', 'OFF-AP-10002203', 2, 0.0, 0.0, 0.0)
2025-03-29 21:14:28,538 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,539 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/77 (unordered)] (263, datetime.datetime(2022, 12, 26, 0, 0), 'Second Class', 'Corporate', 'United States', 'Houston', 'Texas', 77036, 'Central', 'Technology', 'Machines', 'TEC-MA-10000822', 3, 91.8, 2968.2, 278.1999999999998, 264, datetime.datetime(2022, 6, 14, 0, 0), 'Second Class', 'Corporate', 'United States', 'Houston', 'Texas', 77036, 'Central', 'Technology', 'Machines', 'TEC-MA-10003353', 7, 75.60000000000001, 2444.4, 274.4000000000001, 265, datetime.datetime(2023, 6, 20, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Chicago', 'Illinois', 60610, 'Central', 'Technology', 'Phones', 'TEC-PH-10001433', 4, 9.9, 320.1, 20.100000000000023, 266, datetime.datetime(2022, 11, 17, 0, 0) ... 1996 parameters truncated ... 19.6, -0.3999999999999986, 391, datetime.datetime(2023, 3, 14, 0, 0), 'Standard Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Technology', 'Accessories', 'TEC-AC-10001998', 2, 2.0, 38.0, -2.0, 392, datetime.datetime(2022, 5, 27, 0, 0), 'Second Class', 'Consumer', 'United States', 'Des Moines', 'Washington', 98198, 'West', 'Technology', 'Phones', 'TEC-PH-10003012', 2, 10.0, 240.0, 10.0, 393, datetime.datetime(2022, 12, 19, 0, 0), 'Second Class', 'Consumer', 'United States', 'Des Moines', 'Washington', 98198, 'West', 'Technology', 'Copiers', 'TEC-CO-10002313', 3, 36.0, 1764.0, 164.0)
2025-03-29 21:14:28,541 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,541 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/77 (unordered)] (394, datetime.datetime(2022, 11, 3, 0, 0), 'Second Class', 'Corporate', 'United States', 'Peoria', 'Illinois', 61604, 'Central', 'Office Supplies', 'Binders', 'OFF-BI-10003982', 3, 0.2, 9.8, -0.1999999999999993, 395, datetime.datetime(2022, 6, 26, 0, 0), 'Standard Class', 'Home Office', 'United States', 'Las Vegas', 'Nevada', 89115, 'West', 'Office Supplies', 'Binders', 'OFF-BI-10004492', 3, 2.4, 77.6, 17.599999999999994, 396, datetime.datetime(2022, 8, 23, 0, 0), 'Second Class', 'Corporate', 'United States', 'Warwick', 'Rhode Island', 2886, 'East', 'Office Supplies', 'Storage', 'OFF-ST-10000798', 2, 1.5, 48.5, 8.5, 397, datetime.datetime(2023, 9, 23, 0, 0) ... 1996 parameters truncated ... 124.8, 4.799999999999997, 522, datetime.datetime(2022, 5, 24, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Houston', 'Texas', 77041, 'Central', 'Office Supplies', 'Binders', 'OFF-BI-10000285', 9, 0.3, 9.7, -0.3000000000000007, 523, datetime.datetime(2023, 12, 17, 0, 0), 'First Class', 'Corporate', 'United States', 'Detroit', 'Michigan', 48234, 'Central', 'Furniture', 'Tables', 'FUR-TA-10001857', 2, 4.2, 205.8, 25.80000000000001, 524, datetime.datetime(2022, 11, 1, 0, 0), 'First Class', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Technology', 'Phones', 'TEC-PH-10003555', 3, 3.0, 57.0, 7.0)
2025-03-29 21:14:28,550 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,550 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/77 (unordered)] (525, datetime.datetime(2023, 11, 19, 0, 0), 'First Class', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Technology', 'Accessories', 'TEC-AC-10003832', 2, 2.8000000000000003, 67.2, 7.200000000000003, 526, datetime.datetime(2022, 7, 18, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Lawrence', 'Massachusetts', 1841, 'East', 'Office Supplies', 'Fasteners', 'OFF-FA-10002815', 5, 0.8, 19.2, -0.8000000000000007, 527, datetime.datetime(2023, 1, 6, 0, 0), 'Standard Class', 'Home Office', 'United States', 'Lakeland', 'Florida', 33801, 'South', 'Furniture', 'Chairs', 'FUR-CH-10003379', 3, 13.6, 666.4, 126.39999999999998, 528, datetime.datetime(2023, 11, 22, 0, 0) ... 1996 parameters truncated ... 364.8, 14.800000000000011, 653, datetime.datetime(2022, 6, 10, 0, 0), 'Standard Class', 'Corporate', 'United States', 'New York City', 'New York', 10035, 'East', 'Office Supplies', 'Paper', 'OFF-PA-10003892', 2, 4.0, 96.0, 6.0, 654, datetime.datetime(2023, 2, 20, 0, 0), 'Standard Class', 'Corporate', 'United States', 'New York City', 'New York', 10035, 'East', 'Technology', 'Accessories', 'TEC-AC-10001101', 8, 5.0, 95.0, 15.0, 655, datetime.datetime(2022, 7, 4, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Appliances', 'OFF-AP-10002439', 2, 2.2, 107.8, 17.799999999999997)
2025-03-29 21:14:28,556 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,556 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/77 (unordered)] (656, datetime.datetime(2022, 1, 6, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Binders', 'OFF-BI-10002827', 2, 0.0, 0.0, 0.0, 657, datetime.datetime(2023, 9, 24, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Envelopes', 'OFF-EN-10002230', 2, 3.9, 126.1, 16.099999999999994, 658, datetime.datetime(2022, 5, 31, 0, 0), 'Same Day', 'Home Office', 'United States', 'Aurora', 'Illinois', 60505, 'Central', 'Furniture', 'Chairs', 'FUR-CH-10001215', 2, 14.0, 686.0, 126.0, 659, datetime.datetime(2022, 7, 1, 0, 0) ... 1996 parameters truncated ... 19.2, -0.8000000000000007, 784, datetime.datetime(2022, 4, 28, 0, 0), 'Second Class', 'Consumer', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Furniture', 'Bookcases', 'FUR-BO-10004409', 1, 2.0, 38.0, -2.0, 785, datetime.datetime(2023, 11, 9, 0, 0), 'Second Class', 'Consumer', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Technology', 'Accessories', 'TEC-AC-10000057', 2, 1.5, 48.5, -1.5, 786, datetime.datetime(2022, 4, 5, 0, 0), 'Standard Class', 'Corporate', 'United States', 'Columbia', 'South Carolina', 29203, 'South', 'Office Supplies', 'Envelopes', 'OFF-EN-10000056', 3, 7.6000000000000005, 182.4, 22.400000000000006)
2025-03-29 21:14:28,557 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,563 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/77 (unordered)] (787, datetime.datetime(2023, 4, 1, 0, 0), 'Second Class', 'Consumer', 'United States', 'Lancaster', 'California', 93534, 'West', 'Office Supplies', 'Binders', 'OFF-BI-10000014', 2, 0.4, 19.6, -0.3999999999999986, 788, datetime.datetime(2023, 6, 7, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Lancaster', 'California', 93534, 'West', 'Furniture', 'Chairs', 'FUR-CH-10004675', 2, 10.5, 339.5, 49.5, 789, datetime.datetime(2023, 2, 12, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Richmond', 'Virginia', 23223, 'South', 'Office Supplies', 'Binders', 'OFF-BI-10001543', 4, 5.6000000000000005, 134.4, 24.400000000000006, 790, datetime.datetime(2022, 7, 25, 0, 0) ... 1996 parameters truncated ... 47.5, 7.5, 915, datetime.datetime(2023, 5, 29, 0, 0), 'First Class', 'Corporate', 'United States', 'Milwaukee', 'Wisconsin', 53209, 'Central', 'Technology', 'Accessories', 'TEC-AC-10001772', 9, 5.6000000000000005, 134.4, 4.400000000000006, 916, datetime.datetime(2023, 3, 3, 0, 0), 'Standard Class', 'Corporate', 'United States', 'San Antonio', 'Texas', 78207, 'Central', 'Furniture', 'Tables', 'FUR-TA-10001520', 2, 4.0, 96.0, 6.0, 917, datetime.datetime(2023, 5, 17, 0, 0), 'Standard Class', 'Corporate', 'United States', 'San Antonio', 'Texas', 78207, 'Central', 'Furniture', 'Chairs', 'FUR-CH-10003379', 4, 40.0, 760.0, 80.0)
2025-03-29 21:14:28,567 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,567 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/77 (unordered)] (918, datetime.datetime(2022, 12, 18, 0, 0), 'Standard Class', 'Corporate', 'United States', 'San Antonio', 'Texas', 78207, 'Central', 'Office Supplies', 'Binders', 'OFF-BI-10002706', 3, 0.2, 9.8, -0.1999999999999993, 919, datetime.datetime(2022, 6, 28, 0, 0), 'Standard Class', 'Corporate', 'United States', 'Dallas', 'Texas', 75220, 'Central', 'Office Supplies', 'Envelopes', 'OFF-EN-10000056', 3, 6.0, 144.0, 14.0, 920, datetime.datetime(2022, 3, 13, 0, 0), 'Standard Class', 'Corporate', 'United States', 'Dallas', 'Texas', 75220, 'Central', 'Office Supplies', 'Storage', 'OFF-ST-10001558', 1, 0.5, 9.5, -0.5, 921, datetime.datetime(2022, 12, 18, 0, 0) ... 1996 parameters truncated ... 57.0, 7.0, 1046, datetime.datetime(2022, 5, 3, 0, 0), 'Standard Class', 'Home Office', 'United States', 'Rockford', 'Illinois', 61107, 'Central', 'Furniture', 'Chairs', 'FUR-CH-10002304', 14, 10.0, 240.0, 10.0, 1047, datetime.datetime(2022, 9, 24, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Miami', 'Florida', 33142, 'South', 'Technology', 'Phones', 'TEC-PH-10001530', 5, 68.0, 1292.0, 172.0, 1048, datetime.datetime(2023, 3, 17, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Miami', 'Florida', 33142, 'South', 'Furniture', 'Furnishings', 'FUR-FU-10004006', 3, 3.0, 97.0, 7.0)
2025-03-29 21:14:28,573 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,574 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/77 (unordered)] (1049, datetime.datetime(2023, 3, 23, 0, 0), 'Second Class', 'Consumer', 'United States', 'San Francisco', 'California', 94109, 'West', 'Technology', 'Phones', 'TEC-PH-10000486', 12, 33.3, 1076.7, 146.70000000000005, 1050, datetime.datetime(2023, 7, 8, 0, 0), 'Second Class', 'Consumer', 'United States', 'San Francisco', 'California', 94109, 'West', 'Technology', 'Accessories', 'TEC-AC-10001606', 1, 2.0, 98.0, 8.0, 1051, datetime.datetime(2023, 1, 18, 0, 0), 'First Class', 'Corporate', 'United States', 'Philadelphia', 'Pennsylvania', 19134, 'East', 'Furniture', 'Furnishings', 'FUR-FU-10000293', 2, 5.1000000000000005, 164.9, 24.900000000000006, 1052, datetime.datetime(2022, 9, 26, 0, 0) ... 1996 parameters truncated ... 28.8, -1.1999999999999993, 1177, datetime.datetime(2022, 4, 18, 0, 0), 'Second Class', 'Home Office', 'United States', 'Los Angeles', 'California', 90004, 'West', 'Office Supplies', 'Labels', 'OFF-LA-10004425', 4, 0.3, 9.7, -0.3000000000000007, 1178, datetime.datetime(2023, 11, 22, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Rockville', 'Maryland', 20852, 'East', 'Furniture', 'Chairs', 'FUR-CH-10001270', 2, 3.4, 166.6, 6.599999999999994, 1179, datetime.datetime(2022, 5, 22, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Rockville', 'Maryland', 20852, 'East', 'Technology', 'Phones', 'TEC-PH-10003931', 3, 7.2, 172.8, 22.80000000000001)
2025-03-29 21:14:28,576 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-29 21:14:28,576 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/77 (unordered)] (1180, datetime.datetime(2023, 11, 8, 0, 0), 'Second Class', 'Home Office', 'United States', 'Houston', 'Texas', 77070, 'Central', 'Technology', 'Accessories', 'TEC-AC-10003174', 3, 10.4, 249.6, 9.599999999999994, 1181, datetime.datetime(2022, 12, 26, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Lakewood', 'New Jersey', 8701, 'East', 'Technology', 'Phones', 'TEC-PH-10004539', 7, 52.800000000000004, 1267.2, 27.200000000000045, 1182, datetime.datetime(2023, 5, 10, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Lakewood', 'New Jersey', 8701, 'East', 'Office Supplies', 'Art', 'OFF-AR-10001919', 2, 0.0, 0.0, 0.0, 1183, datetime.datetime(2023, 12, 10, 0, 0) ... 1996 parameters truncated ... 48.0, 8.0, 1308, datetime.datetime(2023, 10, 23, 0, 0), 'First Class', 'Consumer', 'United States', 'Pasadena', 'California', 91104, 'West', 'Office Supplies', 'Binders', 'OFF-BI-10000320', 3, 1.0, 19.0, -1.0, 1309, datetime.datetime(2023, 10, 2, 0, 0), 'First Class', 'Consumer', 'United States', 'Pasadena', 'California', 91104, 'West', 'Office Supplies', 'Appliances', 'OFF-AP-10003971', 2, 0.6, 19.4, -0.6000000000000014, 1310, datetime.datetime(2023, 12, 19, 0, 0), 'First Class', 'Consumer', 'United States', 'Pasadena', 'California', 91104, 'West', 'Office Supplies', 'Storage', 'OFF-ST-10001469', 3, 4.8, 155.2, 25.19999999999999)
2025-03-29 21:14:28,581 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, final_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ? ... 6390 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

38

In [17]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,final_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,51.3,1658.7,188.7
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,27.3,882.7,132.7
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,0.6,19.4,-0.6
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,3,8.2,401.8,41.8
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,5,3.5,66.5,6.5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,3,0.0,0.0,0.0
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,20.1,649.9,39.9
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,2.4,57.6,-2.4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,0.4,9.6,-0.4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,6.3,203.7,33.7